body {

}

#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: ##bad3c6
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

.levantador{
	margin-left: 25%
}

.jogo{
	margin-left: 23%
}

.jogo{
	width: 50%
}

.oposto{
	width: 50%
}

.oposto{
	margin-left: 25%
}

.ponteiro{
	width: 50%
}

.ponteiro{
	margin-left: 25%
}

.central{
	width: 50%
}

.central{
	margin-left: 25%
}

.líbero{
	width: 50%
}

.líbero{
	margin-left: 25%
}

.textoPrincipal{
	text-align: center; font-size: 40px; color: #010002
}

.textoPrincipal{
	text-align: center; font-size: 40px; color: #010002
}

.titulo-centralizado{
	text-align: center; font-size: 40px; color: #010002
}

.titulo-centralizado{
  margin-left: -2%
}

.posições{
	text-align: center; font-size: 40px; color: #010002
}

.primeiroTitulo{
	text-align: center;font-size:  40px; color: #010002
}

.segundoTitulo{
	text-align: center;font-size: 40px; color: #010002
}
