body {
	background-color: #c0d88c
}

.tituloPrincipal{
	text-align: center; font-size: 100px; color: #006400; margin-left: -5%
}

.jogo{
	width: 50%; margin-left: 23%; color: 010002;
}

.primeiroTexto{
	text-align: center;font-size: 40px; color: #010002; font-family: inherit;
}

.tituloRegras {
	text-align: center; text-align: center; font-size: 45px; color: #006400; margin-left: -5%
}

.textoRegras {
	text-align: center; font-size: 35px; color: ##010002;
	font-family: inherit;
}

.primeiroTitulo{
	text-align: center;font-size:  45px; color: #006400
}

.posições{
	text-align: center; font-size: 40px; color: #010002;
	font-family: inherit;
}

.segundoTitulo{
	text-align: center;font-size: 45px; color: #006400; margin-left: -5%
}

.levantadorTitulo{
	text-align: left; font-size: 40px; color: #006400
}

.levantadorImagem {
	margin-left: 25%
}

.levantadorTexto{
	text-align: center; font-size: 35px; color: #010002; font-family: inherit;
}

.opostoTitulo{
	text-align: left; font-size: 40px; color: #006400
}

.opostoImagem{
    margin-left: 25%;
		 width:50%;
}

.opostoTexto{
	text-align: center; font-size: 35px; color: #010002;
	font-family: inherit;
}

.ponteiroTitulo{
	text-align: left; font-size: 40px; color: #006400
}

.ponteiroImagem{
	margin-left: 25%;
	width: 50%
}

.ponteiroTexto{
	text-align: center; font-size: 35px; color: #010002
}

.centralTitulo{
	text-align: left;font-size: 40px; color: #006400
}

.centralImagem{
	margin-left: 25%; width: 50%;
}

.centralTexto{
	text-align: center; font-size: 35px; color: #010002; font-family: inherit;
}

.liberoTitulo{
	text-align: left; font-size: 40px; color: #006400
}

.liberoImagem{
	margin-left: 25%;
	width: 50%
}

.liberoTexto{
	text-align: center;font-size: 35px; color: #010002
}





#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}
.levantador{
	margin-left: 25%
}
p {
	text-align: center;
}

#missao {
	font-size: 20px
}


.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}
