body {

}

.tituloPrincipal{
	text-align: center; font-size: 100px; color: 010002; margin-left: -5%
}

.jogo{
	width: 50%; margin-left: 23%
}

.primeiroTexto{
	text-align: center;font-size: 40px; color: 010002
}

.tituloRegras {
	text-align: center; text-align: center; font-size: 45px; color: #010002; margin-left: -5%
}

.textoRegras {
	text-align: center; font-size: 35px; color: #010002
}

.primeiroTitulo{
	text-align: center;font-size:  45px; color: #010002
}

.posições{
	text-align: center; font-size: 40px; color: #010002
}

.segundoTitulo{
	text-align: center;font-size: 45px; color: #010002; margin-left: -5%
}

.levantadorTitulo{
	text-align: left; font-size: 40px; color: #010002
}

.levantadorImagem {
	margin-left: 25%
}

.levantadorTexto{
	text-align: center; font-size: 35px
}

.opostoTitulo{
	text-align: left; font-size: 40px; color: #01000
}



#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}
.levantador{
	margin-left: 25%
}
p {
	text-align: center;
}

#missao {
	font-size: 20px
}


.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

.oposto{
	width: 50%
}

.oposto{
	margin-left: 25%
}

.ponteiro{
	width: 50%
}

.ponteiro{
	margin-left: 25%
}

.central{
	width: 50%
}

.central{
	margin-left: 25%
}

.líbero{
	width: 50%
}

.líbero{
	margin-left: 25%
}

.opostoTitulo{
	text-align: center ;font-size: 40px;
}


.opostoTitulo{
	text-align: left; font-size: 40px; color: #01000
}
